.bd-contentColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    backface-visibility: hidden;

    > * {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &.bd-contentcolumnEnterActive,
        &.bd-contentcolumnLeaveActive {
            transition: opacity 0.4s ease;
        }

        &.bd-contentcolumnEnterTo {
            opacity: 1;
        }

        &.bd-contentcolumnLeaveTo {
            opacity: 0;
        }

        &.bd-contentcolumnLeaveActive {
            position: absolute;
            width: 590px;
            pointer-events: none;
        }
    }
}
