.bd-content-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    backface-visibility: hidden;

    > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    > div:not(.active) {
        opacity: 0;
        position: absolute;
        left: 310px;
        right: 0;
        // width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.bd-content {
    animation: bd-fade-in .4s forwards;

    .animating {
        animation: bd-fade-out .4s forwards;
    }
}
