.bd-sidebar-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;

    .bd-sidebar-region {
        background: #202225;
        -webkit-box-flex: 1;
        -webkit-box-pack: end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
        flex: 1 0 30%;
        z-index: 5;
        max-width: 310px;
        min-width: 310px;

        .bd-scroller {
            padding: 10px 10px 0 0;
        }
    }

    .bd-content-region {
        flex-grow: 1;
        transform: translateX(-100%);
        background: #36393e;
        box-shadow: 0 0 4px #202225;
        backface-visibility: hidden;
        transition: transform 0.6s ease;
    }

    &.bd-stop {
        .bd-content-region {
            transform: none;
        }
    }
}
