.bd-ac {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 3;
    bottom: 100%;
    left: 0;
    position: absolute;
    right: 0;
    background-color: #2f3136;
    max-height: 370px;

    .bd-acInner {
        padding-bottom: 8px;
        white-space: nowrap;

        .bd-acRow {
            padding: 0 8px;
            font-size: 14px;
            line-height: 16px;

            .bd-acSelector {
                border-radius: 3px;
                padding: 8px;

                &.bd-selectable {
                    cursor: pointer;

                    &:hover {
                        background-color: darken(#36393f, 5%);
                    }

                    &.bd-selected {
                        background-color: #36393f;
                    }
                }

                .bd-acTitle {
                    color: #72767d;
                    padding: 4px 0;
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: 16px;
                    font-size: 12px;

                    strong {
                        color: #fff;
                        text-transform: none;
                        font-weight: 500;
                    }
                }

                .bd-acField {
                    display: flex;
                    flex: 1 1 auto;
                    color: #f6f6f7;
                    min-height: 16px;
                    -webkit-box-direction: normal;
                    -webkit-box-orient: horizontal;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    -webkit-box-pack: start;
                    justify-content: flex-start;
                    -webkit-box-align: center;
                    align-items: center;

                    img {
                        min-width: 16px;
                        width: 16px;
                    }

                    div {
                        margin-left: 8px;
                        color: #f6f6f7;
                    }

                    .bd-acHint {
                        color: #72767d;
                    }
                }
            }
        }
    }

    &.bd-active + [class*='inner'] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .bd-acScroller {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 320px;

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #202225;
            border: 3px solid #2f3136;
        }

        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track-piece {
            background-clip: padding-box;
            border-radius: 7px;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: #2f3136;
            border-color: #2f3136;
            border: 3px solid #2f3136;
        }
    }
}
