.bd-profileBadgesWrap {
    display: inline-flex;
    margin-top: 8px;
    flex: 1 1 auto;

    + [class*='profileBadges'] {
        display: inline-flex;
    }
}

.bd-profileBadges {
    display: flex;

    &.bd-profileBadgesNametag {
        display: inline-block;
        margin-left: 6px;
        height: 11px;

        .bd-profileBadge {
            width: 12px;
            height: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.bd-profileBadge {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-right: 6px;
}

.bd-profileBadgeDeveloper,
.bd-profileBadgeWebdev,
.bd-profileBadgeContributor {
    background-image: $logoSmallWw;

    .theme-light [class*='topSectionNormal-'] .bd-profileBadgesProfileModal > &, // sass-lint:disable-line force-element-nesting class-name-format
    .theme-light :not(.bd-profileBadgesProfileModal) > & { // sass-lint:disable-line class-name-format
        background-image: $logoSmallLight;
    }
}
