.bd-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
    background: #44474c;
    text-align: center;
    user-select: none;
    font-weight: 500;
    background: $colbdblue;


    &:not(.bd-disabled):hover {
        background: darken($colbdblue, 5%);
    }

    &.bd-disabled {
        filter: grayscale(90%);
        cursor: not-allowed;
    }

    &.bd-err {
        background: $colerr;

        &:hover {
            background: darken($colerr, 5%);
        }
    }

    &.bd-warn {
        background: $colwarn;

        &:hover {
            background: darken($colwarn, 5%);
        }
    }

    &.bd-ok {
        background: $colok;

        &:hover {
            background: darken($colok, 5%);
        }
    }

    .bd-spinner-7 {
        opacity: .3;
    }

    .material-design-icon svg {
        width: 18px;
        height: 18px;
    }
}

.bd-button-group {
    display: flex;

    .bd-button,
    .bd-material-button {

        &:first-of-type {
            border-radius: 6px 0 0 6px;
        }

        &:last-of-type {
            border-radius: 0 6px 6px 0;
        }

        &:not(:last-of-type) {
            border-right: 1px solid rgba(114, 118, 126, 0.3);
        }

        &:not(:first-of-type) {
            border-left: 1px solid rgba(114, 118, 126, 0.1);
        }
    }
}

.bd-tabheader {
    .bd-button {
        background: transparent;
        border-bottom: 2px solid rgba(114, 118, 126, 0.3);

        h3 {
            -webkit-user-select: none;
            user-select: none;
            display: block;
            font-size: 1.17em;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
            flex-grow: 1;
        }

        .bd-material-button {
            width: 30px;
            height: 30px;

            .material-design-icon,
            .bd-material-design-icon {
                display: flex;
                align-items: center;
                fill: #FFF;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            &:hover {
                background: #2d2f34;
            }
        }

        &:hover,
        &.bd-active {
            background: transparent;
            border-bottom: 2px solid $colbdblue;
        }
    }
}