.bd-form-item h5 {
    color: #b9bbbe;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.bd-form-divider {
    height: 1px;
    margin-top: 8px;
    margin-bottom: 40px;
    background: hsla(218,5%,47%,.3);

    .bd-form-textinput + &,
    .bd-form-fileinput + &,
    .bd-setting-switch + & {
        margin: 0 0 15px 0;
    }
}

.bd-form-warning {
    display: flex;
    margin-top: 20px;
    background: #d84040;
    border: 1px solid #B30B0B;
    opacity: .8;
    border-radius: 4px;
    padding: 10px;

    .bd-text {
        display: flex;
        color: #FFF;
        font-weight: 700;
        align-items: center;
        flex-grow: 1;
    }

    .bd-form-button {
        margin: 0;
        align-self: flex-end;
        background: #C42929;

        &:hover {
            background: darken(#C42929, 2%);
        }
    }
}

.bd-form-button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

.bd-form-textinput,
.bd-form-fileinput {
    .bd-title {
        display: flex;

        h3 {
            font-weight: 500;
            color: #f6f6f7;
            flex: 1;
            line-height: 24px;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .bd-hint {
        flex: 1 1 auto;
        color: #72767d;
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 15px;
        line-height: 20px;
        border-bottom: 0px solid rgba(114, 118, 126, 0.1);
    }
}

.bd-form-textinput {
    input[type="text"] {
        background: transparent;
        border: none;
        color: #b9bbbe;
        border-bottom: 2px solid rgba(114, 118, 126, 0.3);
        outline: none;
        line-height: 24px;
        font-size: 100%;
        font-weight: 500;

        &:focus {
            color: #FFF;
            border-color: $colbdblue;
        }
    }
}

.bd-form-fileinput {
    .bd-button.bd-button-primary {
        padding: 3px 8px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 400;
    }

    .bd-selected-files {
        margin: 15px 0;

        .bd-selected-file {
            margin: 10px 0;
            color: #aaa;
            font-size: 15px;
            display: flex;

            .bd-file-path {
                flex: 1 1;
            }

            .bd-file-open,
            .bd-file-remove {
                flex: 0 0;
                margin-left: 5px;

                svg {
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    fill: #ccc;

                    &:hover {
                        fill: #fff;
                    }
                }
            }
        }
    }
}
