.bd-form-header {
    margin: 15px 0 10px;
    color: rgba(255, 255, 255, 0.15);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;

    .bd-form-header-text {
        flex: 1 1 auto;
    }

    .bd-form-header-button {
        flex: 0 0;
        margin-left: 5px;

        svg {
            width: 16px;
            height: 16px;
            cursor: pointer;
            fill: #ccc;

            &:hover {
                fill: #fff;
            }
        }
    }
}

.bd-form-item h5 {
    color: #b9bbbe;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.bd-form-divider {
    height: 1px;
    margin-top: 8px;
    margin-bottom: 40px;
    background: hsla(218,5%,47%,.3);

    .bd-form-textinput + &,
    .bd-form-fileinput + &,
    .bd-setting-switch + & {
        margin: 15px 0;
    }
}

.bd-form-warning {
    display: flex;
    margin-top: 20px;
    background: #d84040;
    border: 1px solid #B30B0B;
    opacity: .8;
    border-radius: 4px;
    padding: 10px;

    .bd-text {
        display: flex;
        color: #FFF;
        font-weight: 700;
        align-items: center;
        flex-grow: 1;
    }

    .bd-form-button {
        margin: 0;
        align-self: flex-end;
        background: #C42929;

        &:hover {
            background: darken(#C42929, 2%);
        }
    }
}

.bd-form-button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

.bd-form-textinput,
.bd-form-fileinput,
.bd-form-numberinput,
.bd-setting-switch {
    .bd-title {
        display: flex;

        h3 {
            font-weight: 500;
            color: #f6f6f7;
            flex: 1;
            line-height: 24px;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .bd-hint {
        flex: 1 1 auto;
        color: #72767d;
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
        line-height: 20px;
        border-bottom: 0px solid rgba(114, 118, 126, 0.1);
    }
}

.bd-form-textinput, .bd-form-numberinput {
    input[type="text"], input[type="number"] {
        background: transparent;
        border: none;
        color: #b9bbbe;
        border-bottom: 2px solid rgba(114, 118, 126, 0.3);
        outline: none;
        line-height: 24px;
        font-size: 100%;
        font-weight: 500;

        &:focus {
            color: #FFF;
            border-color: $colbdblue;
        }
    }
}

.bd-form-fileinput {
    .bd-button.bd-button-primary {
        padding: 3px 8px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 400;
    }

    .bd-selected-files {
        margin: 15px 0;

        .bd-selected-file {
            margin: 10px 0;
            color: #aaa;
            font-size: 15px;
            display: flex;

            .bd-file-path {
                flex: 1 1;
            }

            .bd-file-open,
            .bd-file-remove {
                flex: 0 0;
                margin-left: 5px;

                svg {
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    fill: #ccc;

                    &:hover {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.bd-number {
    position: relative;

    input[type=number] {
        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .bd-number-spinner {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        justify-content: space-around;

        .bd-arrow {
            padding: 3px 5px;
            cursor: pointer;
            font-size: 0;

            .bd-up-arrow {
                border-color: transparent transparent rgb(153, 153, 153);
                border-style: solid;
                border-width: 2.5px 5px 5px;
            }

            &:hover .bd-up-arrow {
                border-color: transparent transparent rgb(200, 200, 200);
            }
        
            .bd-down-arrow {
                border-color: rgb(153, 153, 153) transparent transparent;
                border-style: solid;
                border-width: 5px 5px 2.5px;
            }

            &:hover .bd-down-arrow {
                border-color: rgb(200, 200, 200) transparent transparent;
            }
        }
    }
}

.bd-radio-option {
    background: rgb(50, 50, 50);
    border: 2px solid rgb(39, 39, 39);
    border-radius: 5px;
    padding: 3px;
    align-items: center;

    input[type="radio"] {
        display: none;

        &:checked + .bd-radio {
            background-color: white;
        }
    }

    .bd-radio {
        background: rgb(50, 50, 50);
        border: 1px solid rgb(114, 118, 125);
        border-radius: 50%;
        width: 12px;
        height: 12px;
        transition: background-color .1s;
    }

    span {
        color: white;
        margin: 0px 5px;
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.bd-dropdown {
    position: relative;
    
    .bd-dropdown-current {
        color: white;
        background: rgb(50, 50, 50);
        border: 2px solid rgb(39, 39, 39);
        border-radius: 5px;
        padding: 8px;

        .bd-dropdown-arrow {
            border-color: rgb(153, 153, 153) transparent transparent;
            border-style: solid;
            border-width: 5px 5px 2.5px;
            display: inline-block;
            margin-left: 10px;
        }
    }

    .bd-dropdown-options {
        position: absolute;
        top: calc(100% - 2.5px);
        width: 100%;
        max-height: 100px;
        box-sizing: border-box;
        background: rgb(50, 50, 50);
        border: 2px solid rgb(39, 39, 39);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow-y: scroll;

        div {
            color: white;
            padding: 5px;

            &:hover {
                background: rgb(59, 59, 59);
            }

            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #1e2124;
            border-color: #36393e;
            border-color: transparent;
        }

        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track-piece {
            background-clip: padding-box;
            border-width: 3px;
            border-style: solid;
            border-radius: 7px;
            border-color: transparent;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: #2f3136;
            border-color: #36393e;
            border-color: transparent;
        }
    }
}