.bd-flex {
    display: flex;
}

.bd-flexRow,
.bd-flexRow {
    flex-direction: row;
}

.bd-flexCol,
.bd-flexCol {
    flex-direction: column;
}

.bd-flexGrow,
.bd-flexGrow {
    flex-grow: 1;
}

.bd-flexSpacer,
.bd-flexSpacer {
    flex-grow: 1;
}

.bd-hide {
    display: none;
}

.bd-inline {
    display: inline;
}
