.bd-notifications {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 900000;

    .bd-notificationContainer {
        position: relative;
        background: #0a0a0a;
        width: 280px;
        height: 130px;
        top: 30px;
        border-radius: 2px;
        box-shadow: 1px 1px 15px #000;
        animation: bd-notif-slidein 1s reverse;

        .bd-notificationHeader {
            height: 20px;

            .bd-notificationDismissBtn {
                cursor: pointer;
                opacity: 0;

                &:hover {
                    opacity: 1;
                    background: rgba(0, 0, 0, .1);

                    .bd-materialDesignIcon {
                        fill: #fff;
                    }
                }

                .bd-materialDesignIcon {
                    fill: #aeaeae;
                    display: flex;
                    height: 20px;
                }
            }
        }

        &:hover {
            .bd-notificationDismissBtn {
                opacity: 1;
            }
        }

        .bd-notificationBody {
            padding: 0 10px;
            flex-grow: 1;

            .bd-notificationText {
                color: #FFF;
            }
        }

        &.bd-active {
            animation: bd-notif-slidein 1s forwards;
        }

        &.bd-closing {
            animation: bd-notif-slideout .5s;
        }
    }

    .bd-notificationFooter {
        height: 20px;
        padding: 5px;
        justify-content: flex-end;

        .bd-notificationBtn {
            cursor: pointer;
            height: 10px;
            line-height: 10px;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            padding: 5px 10px;
            border-radius: 3px;
            background: rgba(255, 255, 255, .1);
            margin-left: 5px;

            &:hover {
                background: rgba(255, 255, 255, .2);
            }
        }
    }
}

@keyframes bd-notif-slidein {
    0% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(315px);
    }

    100% {
        transform: translatex(305px);
    }
}

@keyframes bd-notif-slideout {
    0% {
        transform: translatex(305px);
    }

    100% {
        transform: translatex(0);
    }
}
