.bd-notifications {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 900000;

    .bd-notificationContainer {
        position: relative;
        background: rgb(54, 57, 63);
        width: 280px;
        height: 130px;
        top: 30px;
        border-radius: 2px;
        box-shadow: 1px 1px 15px #000;
        animation: bd-notif-slidein 1s reverse;

        .bd-notificationHeader {
            height: 24px;
            border-bottom: 1px solid #484b51;

            .bd-notificationDismissBtn {
                cursor: pointer;
                border-right: 1px solid #484b51;

                &:hover {
                    background: rgba(0, 0, 0, .1);
                }

                .bd-materialDesignIcon {
                    fill: #fff;
                    display: flex;
                    height: 24px;
                }
            }
        }

        .bd-notificationBody {
            padding: 10px;

            .bd-notificationText {
                color: #FFF;
            }
        }

        &.bd-active {
            animation: bd-notif-slidein 1s forwards;
        }

        &.bd-closing {
            animation: bd-notif-slideout .5s;
        }
    }
}

@keyframes bd-notif-slidein {
    0% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(315px);
    }

    100% {
        transform: translatex(305px);
    }
}

@keyframes bd-notif-slideout {
    0% {
        transform: translatex(305px);
    }

    100% {
        transform: translatex(0);
    }
}
