.bd-tabheader {
    .bd-button {
        background: transparent;
        border-bottom: 2px solid rgba(114, 118, 126, 0.3);

        h3 {
            -webkit-user-select: none;
            user-select: none;
            display: block;
            font-size: 1.17em;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
            flex-grow: 1;
        }

        .bd-material-button {
            width: 30px;
            height: 30px;

            .material-design-icon,
            .bd-material-design-icon {
                display: flex;
                align-items: center;
                fill: #fff;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            &:hover {
                background: #2d2f34;
            }
        }

        &:hover,
        &.bd-active {
            background: transparent;
            border-bottom: 2px solid $colbdblue;
        }
    }
}
