.bd-tabbar {
    flex: 0 0 auto;
    margin-right: -15px;
    display: flex;

    .bd-button {
        background: transparent;
        border-bottom: 2px solid rgba(114, 118, 126, .3);
        cursor: pointer;
        margin-right: 15px;
        padding: 15px 0;
        color: #87909c;
        font-size: 14px;
        font-weight: 500;
        transition: color .2s ease, border-bottom-color .2s ease;
        flex: 0 0;
        display: flex;

        h3 {
            flex: 0 0;
        }

        .bd-materialButton {
            margin: -1px 0 -1px 4px;
        }

        &:hover,
        &.bd-active {
            background: transparent;
            border-bottom-color: $colbdgreen;
            color: #fff;

            .bd-materialDesignIcon {
                fill: #fff;
            }
        }

        &.bd-active {
            cursor: default;
        }

        .bd-settingswrap & {
            min-width: 150px;
            padding: 0;
        }
    }

    .bd-materialButtonWrap {
        margin-right: 15px;
        flex: 0 0;
        padding: 17px 0 18px;

        .bd-materialButton {
            margin: 0;
        }
    }

    .bd-button,
    .bd-materialButtonWrap {
        .bd-materialButton {
            width: 16px;
            height: 16px;
            flex: 0 0;
            cursor: pointer;

            .bd-materialDesignIcon {
                display: flex;
                align-items: center;
                fill: #87909c;
                transition: fill .2s ease;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }

            &:hover {
                background-color: transparent;

                .bd-materialDesignIcon {
                    fill: #fff;
                }
            }
        }
    }

    .bd-settingswrapHeader & {
        margin-bottom: -20px;

        .bd-button {
            font-size: 16px;
        }

        .bd-materialButton {
            width: 18px;
            height: 18px;
        }
    }
}
