@import 'vars';

div {
    background: unquote($divBg);
}

span {
    border: 1px solid rgba(20, 20, 20, $spanOpacity);
    color: $radioTest !important;
    opacity: $spanOpacity2 !important;
}

.da-chat .da-messagesWrapper,
.da-friendsTable {
    background-image: url(map-get($relative-file-test, url));
    background-size: contain;
    background-repeat: no-repeat;
}

@if map-has-key($avatar, url) {
    .da-avatar > .da-image {
        background-image: url(map-get($avatar, url)) !important;
        border-radius: $avatarRadius !important;
    }
}

// Can't use a for loop as then we don't get the index
$index: 0;
@while $index < length($additional-colours) {
    $additional-colour: nth($additional-colours, $index + 1);

    div:nth-child(#{length($additional-colours)}n + #{$index}) {
        color: unquote(map-get($additional-colour, colour)) !important;
    }

    $index: $index + 1;
}

.bd-scroller {
    background-image: url('icon.svg');
}
