.bd-profile-badges-wrap {
    display: inline-flex;
    margin-top: 8px;
    flex: 1 1 auto;

    + [class*="profileBadges"] {
        display: inline-flex;
    }
}

.bd-profile-badges {
    display: flex;
}

.bd-profile-badge {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-right: 6px;
}

.bd-profile-badge-developer,
.bd-profile-badge-webdev,
.bd-profile-badge-contributor {
    background-image: $logoSmallBw;
    filter: brightness(10);

    .theme-light [class*="topSectionNormal-"] .bd-profile-badges-profile-modal > &,
    .theme-light :not(.bd-profile-badges-profile-modal) > & {
        background-image: $logoSmallLight;
        filter: none;
    }
}

.bd-profile-badges.bd-profile-badges-nametag {
    display: inline-block;
    margin-left: 6px;
    height: 11px;

    .bd-profile-badge {
        width: 12px;
        height: 12px;

        &:last-child {
            margin-right: 0;
        }
    }
}

// .member-username .bd-profile-badges {
//     display: inline-block;
//     height: 17px;
//     width: 14px;
//
//     .bd-badge,
//     .bd-badge-c {
//         width: 14px;
//         height: 16px;
//         background-position: center;
//         background-size: 12px 12px;
//         background-repeat: no-repeat;
//     }
// }
