.bd-profileBadgesWrap {
    display: inline-flex;
    margin-top: 8px;
    flex: 1 1 auto;

    + [class*="profileBadges"] {
        display: inline-flex;
    }
}

.bd-profileBadges {
    display: flex;
}

.bd-profileBadge {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-right: 6px;
}

.bd-profileBadgeDeveloper,
.bd-profileBadgeWebdev,
.bd-profileBadgeContributor {
    background-image: $logoSmallBw;
    filter: brightness(10);

    .theme-light [class*="topSectionNormal-"] .bd-profileBadgesProfileModal > &,
    .theme-light :not(.bd-profileBadgesProfileModal) > & {
        background-image: $logoSmallLight;
        filter: none;
    }
}

.bd-profileBadges.bd-profileBadgesNametag {
    display: inline-block;
    margin-left: 6px;
    height: 11px;

    .bd-profileBadge {
        width: 12px;
        height: 12px;

        &:last-child {
            margin-right: 0;
        }
    }
}

// .member-username .bd-profileBadges {
//     display: inline-block;
//     height: 17px;
//     width: 14px;
//
//     .bd-badge,
//     .bd-badge {
//         width: 14px;
//         height: 16px;
//         background-position: center;
//         background-size: 12px 12px;
//         background-repeat: no-repeat;
//     }
// }
