// sass-lint:disable-all
body:not(.bd-hideButton) {
    [class*='layers-'] > [class*='layer-'] > * > [class*='wrapper-'] {
        padding-top: 49px !important;
    }
    .platform-osx [class*='layers-'] > [class*='layer-'] > * > [class*='wrapper-'] {
        margin-top: 26px;
    }

    .platform-osx [class*='layers-'] > [class*='layer-'] > * > [class*='wrapper-'] [class*='listItem-']:first-child {
        margin-top: 12px;
    }

    [class*='layers-'] > [class*='layer-'] > * > [class*='wrapper-'] + [class*='flex'] {
        border-radius: 0 0 0 5px;
    }

    [class*='unreadMentionsIndicatorTop-'] {
        top: 49px;
    }
    .platform-osx [class*='unreadMentionsIndicatorTop-'] {
        top: 50px;
    }
}

// Any layers need to be above the main layer (where the BD button is placed)
[class*='layers-'] > * + * {
    z-index: 900;
}

.bd-settingsWrapper.platform-linux {
    transform: none;
}

// Remove the margin on message attachments with an emote
.da-containerCozy + .da-containerCozy > * > .bd-emote {
    margin-top: -8px;
    margin-bottom: -8px;
}
