.guilds-wrapper {
    padding-top: 50px !important;

    .platform-osx & {
        margin-top: 26px;
    }
}

[class*="guilds-wrapper"] + [class*="flex"] {
    border-radius: 0 0 0 5px;
}

.unread-mentions-indicator-top {
    top: 45px;

    .platform-osx & {
        top: 50px;
    }
}
