@import './variables/index.scss';
@import './animations.scss';
@import './layouts.scss';

@import './sidebarview/index.scss';
@import './bdsettings/index.scss';
@import './generic/index.scss';
@import './profilebadges.scss';

@import './discordoverrides.scss';
