.bd-flex {
    display: flex;
}

.bd-flex-row,
.bd-flexRow {
    flex-direction: row;
}

.bd-flex-col,
.bd-flexCol {
    flex-direction: column;
}

.bd-flex-grow,
.bd-flexGrow {
    flex-grow: 1;
}

.bd-flex-spacer,
.bd-flexSpacer {
    flex-grow: 1;
}

.bd-hide {
    display: none;
}

.bd-inline {
    display: inline;
}
