.bd-settingsButton {
    position: absolute;
    z-index: 1;
    top: 22px;
    width: 70px;
    height: 48px;
    left: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 2px 0 rgba(0, 0, 0, .06);
    opacity: 1;

    .platform-darwin & { // sass-lint:disable-line class-name-format
        top: 27px;
    }

    .platform-linux & { // sass-lint:disable-line class-name-format
        top: 0;
    }

    .bd-settingsButtonBtn {
        background-image: $logoSmallBw;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        filter: grayscale(100%);
        opacity: .5;
        transition: all .4s ease-in-out;

        &:not(.bd-loading) {
            &:hover {
                filter: none;
                opacity: 1;
            }
        }

        &.bd-loading {
            animation: bd-settingsButtonPulse 1.5s infinite;
        }

        &.bd-updates {
            filter: hue-rotate(250deg) !important; // sass-lint:disable-line no-important
            opacity: 1 !important; // sass-lint:disable-line no-important
        }
    }

    &.bd-hideButton {
        animation: bd-fadeOut .4s ease-out;

        &.bd-active {
            animation: bd-fadeIn .4s ease-in;
        }

        &:not(.bd-active) {
            &:not(.bd-animating) {
                display: none;
            }
        }
    }

    &.bd-active {
        opacity: 1;
    }

    &.bd-active,
    &.bd-hideButton {
        background: transparent;
        box-shadow: none;

        .bd-settingsButtonBtn {
            background-image: $logoBigBw;
            background-size: 100% 100%;
            filter: none;
            opacity: 1;
            width: 130px;
            height: 43px;
            margin: 18px 0 17px 25px;
            cursor: default;
        }
    }

    &.bd-active,
    &.bd-animating {
        z-index: 3001;
    }
}
