.bd-settings-button {
    position: absolute;
    z-index: 1;
    top: 22px;
    width: 70px;
    height: 48px;
    left: 0;
    background: #202225;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
    opacity: 1;

    .platform-darwin & {
        top: 27px;
    }

    .platform-linux & {
        top: 0;
    }

    .bd-settings-button-btn {
        background-image: $logoSmallBw;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        z-index: 3001;
        cursor: pointer;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: all 0.4s ease-in-out;

        &:not(.bd-loading):hover {
            filter: none;
            opacity: 1;
        }

        &.bd-loading {
            animation: bd-settings-button-pulse 1.5s infinite;
        }

        &.bd-updates {
            filter: hue-rotate(250deg) !important;
            opacity: 1 !important;
        }
    }

    &.bd-active {
        background: transparent;
        opacity: 1;
        box-shadow: none;

        .bd-settings-button-btn {
            background-image: $logoBigBw;
            filter: none;
            opacity: 1;
            width: 130px;
            height: 80px;
            background-size: 100% 100%;
            margin-left: 20px;
            cursor: default;
        }
    }

    &.bd-active,
    &.bd-animating {
        z-index: 3001;
    }
}

@keyframes bd-settings-button-pulse {
    0% {
        filter: grayscale(100%);
    }
    50% {
        filter: grayscale(0%);
        opacity: 1;
    }
    100% {
        filter: grayscale(100%);
    }
}
