.bd-pluginsview,
.bd-themesview {
    flex-grow: 1;

    .bd-onlinePh,
    .bd-localPh {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        > .bd-scrollerWrap > .bd-scroller {
            padding: 0 20px 0 0;
            overflow-y: scroll;
        }

        .bd-spinnerContainer {
            display: flex;
            justify-content: center;
        }

        .bd-onlinePhHeader {
            display: flex;
            padding: 0 20px 0 0;
            min-height: 80px;
            margin-top: 20px;

            .bd-flexRow {
                min-height: 40px;
            }

            .bd-searchHint {
                flex-grow: 1;
                line-height: 40px;
                color: #fff;
            }

            .bd-searchSort {
                margin-top: 10px;
                justify-content: flex-end;

                > span {
                    color: #fff;
                    display: flex;
                    justify-content: flex-end;
                    font-size: 12px;
                    height: 14px;
                    padding: 3px;
                }

                .bd-sort {
                    display: flex;
                    color: $coldimwhite;
                    font-size: 12px;
                    padding: 3px;
                    height: 14px;
                    cursor: pointer;
                    transition: color .2s ease-in-out;
                    font-weight: 700;

                    &:hover {
                        color: #fff;
                    }

                    &.bd-active {
                        color: $colbdgreen;
                    }

                    .bd-materialDesignIcon {
                        fill: $colbdgreen;
                    }

                    svg {
                        height: 14px;
                    }

                    &.bd-flipY {
                        .bd-materialDesignIcon {
                            transform: scaleY(-1);
                        }
                    }
                }
            }
        }

        .bd-onlinePhBody {
            .bd-spinnerContainer {
                min-height: 40px;
                padding: 0;
            }
        }

        h3 {
            color: #fff;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            padding: 20px;
        }

        a {
            padding: 20px;
            text-align: center;
        }
    }
}
