/*.bd-pluginsView {
    .bd-button {
        text-align: center;
        background: transparent;
        display: flex;
        border-bottom: 2px solid #2b2d31;
        align-items: center;

        h3 {
            -webkit-user-select: none;
            user-select: none;
            display: block;
            font-size: 1.17em;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
            flex-grow: 1;
        }

        .material-design-icon {
            display: flex;
            align-items: center;
            fill: #fff;
        }

        &:hover,
        &.bd-active {
            color: #fff;
            background: transparent;
            border-bottom: 2px solid #3e82e5;
        }
    }

    .bd-spinner-container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-content: center;
        justify-content: center;

        .bd-spinner-2 {
            width: 200px;
            height: 200px;
         }
    }
}
    */

.bd-pluginsView {



}