.bd-plugin-settings-modal {
    .bd-modal .bd-modal-body {
        padding: 0;
    }

    .bd-modal .bd-modal-footer {
        .bd-ok {
            width: 100px;
        }
    }

    .bd-plugin-settings-body {
        padding: 0 15px;

        .bd-switch-wrapper {
            width: 40px;
            height: 20px;

            .bd-switch::before {
                width: 14px;
                height: 14px;
            }
        }
    }
}
