.bd-settings {
    position: absolute;
    top: 22px;
    left: 0;
    bottom: 0;
    z-index: 3000;
    width: 310px;
    transform: translateX(-100%) translateY(-100%);
    opacity: 0;
    transition: all .4s ease-in-out;

    &.active {
        width: 900px;
        transform: none;
        opacity: 1;
    }

    .bd-sidebar-view::after {
        content: "";
        height: 100%;
        width: 310px;
        background-color: #202225;
        top: 100%;
        display: block;
        position: absolute;
    }

    .bd-settings-x {
        position: absolute;
        top: 18px;
        left: 250px;
        border: 2px solid #6e6e6e;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        justify-content: center;
        display: flex;
        align-items: center;
        cursor: pointer;

        .platform-darwin & {
            top: 40px;
        }

        .bd-x-text {
            color: #72767d;
            position: absolute;
            top: 32px;
            font-weight: 600;
            font-size: 13px;
        }

        .bd-material-design-icon {
            justify-content: center;
            display: flex;
            fill: #72767d;
        }

        &:hover {
            background-color: hsla(218,5%,47%,.3);

            .bd-material-design-icon {
                fill: #FFF;
            }
        }
    }

    .bd-sidebar-region .bd-scroller {
        padding-top: 0;
    }

    .bd-info {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 0 25px;
        margin: 10px 0;

        .bd-vtext {
            color: #414245;
            font-weight: 700;
            font-size: 12px;
        }

        .bd-vtext {
            flex-grow: 1;
            height: 20px;
            cursor: default;
            user-select: none;
        }

        .bd-material-button {
            cursor: pointer;

            &:hover {
                .bd-material-design-icon {
                    fill: #FFF;
                }
            }
        }

        .bd-material-design-icon {
            fill: #414245;

            &:hover {
                fill: #FFF;
            }
        }
    }

    .platform-darwin & {
        top: 0px;

        .bd-sidebar-view .bd-sidebar-region {
            padding-top: 22px;
        }
    }

    .platform-linux & {
        top: 0;
    }

    .bd-sidebar-view.bd-stop .bd-content-region {
        z-index: 3003;
    }

    .bd-sidebar-view.active {
        .bd-content-region {
            transition: transform 0.4s ease-in-out, opacity 0.2s ease;
            transform: none;
            opacity: 1;
        }
    }

    &:not(.active) .bd-sidebar-view.active,
    &.bd-settings-out .bd-sidebar-view.active {
        .bd-content-region {
            transform: translate(-600px, 0%);
            opacity: 0;
            width: 590px;
        }
    }

    &:not(.active) .bd-sidebar-view.active {
        .bd-content-region {
            transform: translate(-600px, 100%);
        }
    }
}

.bd-sidebar .bd-settings-button {
    position: absolute;
    top: 0;

    .platform-darwin & {
        top: 22px;
    }
}
