.bd-settings {
    position: absolute;
    top: 22px;
    left: 0;
    bottom: 0;
    z-index: 3000;
    width: 310px;
    transform: translateX(-100%) translateY(-100%);
    opacity: 0;
    transition: all .4s ease-in-out;

    &.active {
        width: 900px;
        transform: none;
        opacity: 1;
    }

    .bd-sidebar-view::after {
        content: "";
        height: 100%;
        width: 310px;
        background-color: #202225;
        top: 100%;
        display: block;
        position: absolute;
    }

    .bd-settings-x {
        position: absolute;
        top: 17px;
        left: 255px;
        border: 2px solid #6e6e6e;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        justify-content: center;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
            color: #72767d;
            position: absolute;
            top: 32px;
            font-weight: 600;
            font-size: 13px;
        }

        &:hover {
            background-color: hsla(218,5%,47%,.3);
        }

        .platform-darwin & {
            top: 43px;
        }
    }

    .bd-info {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        overflow: hidden;

        .bd-vtext {
            color: #414245;
            font-weight: 700;
            font-size: 12px;
        }

        .bd-vtext {
            flex-grow: 1;
            height: 20px;
            cursor: default;
            user-select: none;
        }

        .bd-material-button {
            cursor: pointer;

            &:hover {
                .material-design-icon {
                    fill: #FFF;
                }
            }
        }

        .material-design-icon {
            fill: #414245;

            svg {
                width: 16px;
                height: 16px;
            }

            &:hover {
                fill: #FFF;
            }
        }
    }

    .platform-darwin & {
        top: 0px;

        .bd-sidebar-view .bd-sidebar-region,
        .bd-sidebar-view .bd-content-region {
            padding-top: 22px;
        }
    }

    .platform-linux & {
        top: 0;
    }
}
