#spinner {
    background: rgba(51, 48, 48, 0.41);
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #bac9d2;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 2em;
    z-index: 90000;
    user-select: none;
}
