.bd-backdrop {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: .85;
    padding: 20px;
    z-index: 9000;
    justify-content: center;
    animation: bd-backdropIn .22s ease;

    &.bd-backdropOut {
        animation: bd-backdropOut .22s ease;
    }
}
