.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 3;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    height: 100%;
    margin-top: -100%;
    border-radius: 5px;

    &.visible {
        margin-top: 0;
        opacity: 1;

        .modal-inner {
            animation: bd-modal-in 0.22s ease;
        }
    }

    &.modal-out {
        opacity: 0;

        .modal-inner {
            animation: bd-modal-out 0.22s ease;
        }
    }

    .modal-inner {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 250px;
        background: $bg;
        top: 50%;
        left: 50%;
        margin-left: -250px;
        margin-top: -125px;

        .modal-title {
            display: flex;
            flex: 0 0 auto;
            padding: 15px;
            transition: box-shadow .1s ease-out;
            color: #fff;
            font-weight: 700;
            line-height: 18px;
        }

        .modal-body {
            display: flex;
            flex: 1 0;
            padding: 0 15px;
        }

        .modal-controls {
            display: flex;
            flex: 0 0 auto;
            padding: 15px;
            border-radius: 0 0 5px 5px;

            .flex-spacer {
                flex: 1 1 auto;
            }

            button {
                width: 80px;
                padding: 8px;
                background: darken($bg, 5%);
                border: none;
                cursor: pointer;
                border-radius: 5px;
                margin-left: 5px;
                transition: all .25s ease-in-out;
                font-family: Roboto;
                font-weight: 600;

                &:hover {
                    background: $blue;
                    color: #fff;
                }

                &.disabled {
                    background: darken($bg, 10%);
                    color: #363636;
                    cursor: not-allowed;
                }
            }
        }
    }
}

@keyframes bd-modal-in {
    0% { transform: scale(0.8); opacity: 0; }
    90% { transform: scale(1.01); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes bd-modal-out {
    0% { transform: scale(1); opacity: 1; }
    10% { transform: scale(1.01); opacity: 1; }
    90% { opacity: 0; }
    100% { transform: scale(0.8); opacity: 0; }
}
