.bd-formCollection {
    display: flex;
    flex-direction: column;

    > :first-child {
        flex: 1 1 auto;
    }

    .bd-collectionItem {
        display: flex;
        flex-grow: 1;
        margin-top: 5px;

        > :first-child {
            flex: 1 0 auto;
        }

        .bd-removeCollectionItem {
            width: 20px;
            flex: 0 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;
                fill: #ccc;
            }

            &:not(.bd-disabled) {
                &:hover {
                    svg {
                        fill: #fff;
                    }
                }
            }

            &.bd-disabled {
                opacity: .5;
            }
        }
    }

    .bd-newCollectionItem {
        display: flex;
        cursor: pointer;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        margin-right: 2px;
        margin-top: 10px;

        svg {
            width: 16px;
            height: 16px;
            fill: #ccc;
        }

        &:hover {
            svg {
                fill: #fff;
            }
        }
    }
}
