.bd-settingSwitch,
.bd-formTextinput,
.bd-formTextarea,
.bd-formNumberinput,
.bd-formDropdown,
.bd-formRadio,
.bd-formSlider,
.bd-formColourpicker,
.bd-formKeybind,
.bd-formFileinput,
.bd-formGuildinput,
.bd-formSettingsarray {
    .bd-title {
        display: flex;

        h3 {
            font-weight: 500;
            color: #f6f6f7;
            flex: 1;
            line-height: 24px;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .bd-hint {
        flex: 1 1 auto;
        margin-top: 5px;
        margin-bottom: 0;
        line-height: 20px;
        border-bottom: 0 solid rgba(114, 118, 126, .1);
    }

    .bd-disabled & {
        opacity: .6;

        &,
        input {
            cursor: not-allowed !important; // sass-lint:disable-line no-important
        }
    }
}

.bd-formCustomsetting {
    &.bd-formCustomsettingDebug + .bd-formDivider {
        margin-top: 0;
    }

    > .bd-formCustomsettingValue {
        margin-bottom: 0;

        .bd-formTextareaDetails {
            margin-top: 15px;
        }

        .bd-button {
            margin-top: 10px;
            padding: 5px 8px;
            border-radius: 2px;
            font-size: 14px;
        }
    }
}
